<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

    <% if current_user.projects.primary_owner.include?(@project) %>

        <div class="btn-group mr-2" role="group" aria-label="First group">
            <%= button_to "Edit Project Details", edit_project_path, method: "get", :class => "btn btn-outline-primary"  %>  
        </div>

        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <%= button_to "Add a New Goal", new_goal_path, method: "get", :class => "btn btn-outline-primary"  %>  
        </div>

        <div class="btn-group mr-2" role="group" aria-label="Third group">
            <%= button_to "Add a New Collaborator", new_collaboration_path, method: "get", :class => "btn btn-outline-primary"  %>
        </div>

    <% end %>

</div>

    <% if current_user.projects.owner.include?(@project) %>
        <%= button_to "Add a New Goal", new_goal_path, method: "get", :class => "btn btn-outline-primary"  %>
    <% end %>