<h2>tab workspaces</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @workspaces.each do |workspace| %>
      <tr>
        <td>
          <%= link_to "#{workspace.workspace_name}", workspace_path(workspace) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<button type="button"> <%= link_to 'Add new workspace', new_workspace_path %> </button>
