<body>  
  <div class="container">
    <h2 class="display-4"> <%= @curr_user.first_name %>'s workspaces </h2>

    <div class="add-workspace"> <%= link_to 'Add new workspace +', new_workspace_path, :class => 'add-workspace' %> </div>

    <div class="row workspace-container">
      <% @workspaces.each do |workspace| %>
          <div class="workspace"> <%= link_to "#{workspace.workspace_name}", workspace_path(workspace.id) %> </div>
      <% end %>
    </div>
  </div>
</body>