<h2> <%= @curr_user.first_name %>'s workspaces </h2>

<table>
  <thead>
    <tr>
      <th>Workspace Name</th>
    </tr>
  </thead>
  <tbody>
    <% @workspaces.each do |workspace| %>
      <tr>
        <td>
          <%= link_to "#{workspace.workspace_name}", workspace_path(workspace.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<button type="button"> <%= link_to 'Add new workspace', new_workspace_path %> </button>
