<!--  app/views/workspaces/show.html.erb -->

<h2>Links at <em><%= @workspace.workspace_name %></em></h2>

<table>
  <thead>
    <tr>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |l| %>
      <tr>
        <td>
            hi
        </td>       
        <td>
            <%= l.workspace_name %>
        </td>
        <td>
          <%= l.link %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>